<div id="footer">
    <div id="left-footer">
        Copyright © <%= new Date().getFullYear() %>
    </div>
    <div id="right-footer">
        by <a target="_blank" href="http://www.linkedin.com/in/mclaramarinho">Clara Marinho</a>
    </div>
</div>